body{
	background-color: #000000;
	color: lightgray;
}
#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#board{

	display: none;
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 40px;
	min-height: 60px;

}
#passwordInput{
	width: 900px;
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 40px;
	min-height: 60px;
}

.stage{
	float: left;
	width: 450px;
	min-height: 280px;
	text-align: center;
	background-image: url(img/s0.jpg);
}

#alphabet{
	float:left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}
.character{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	border-radius: 15px;
	float:left;
}
.character:hover{
	background-color: #333333;
	border: 3px solid white;
	cursor: pointer;

}
.characterGood{
	background-color: #2ECC40;
	border: 3px solid white;
}

.characterBad{
	background-color: #cc0000;
	border: 3px solid white;
}
.disabled{
	pointer-events: none;
	opacity: 0.4;
}

#buttonTry{
	display:none;
	border: 1px solid grey;
	border-radius: 10px;
	height:30px; 
    width:100px; 
    margin: 50px -50px -50px; 
    position:relative;
    left:50%;
    color: lightgrey;
    background-color: #111;
}
#buttonTry:hover{
	background-color: #333333;
	border: 3px solid white;
	cursor: pointer;
}
#buttonStart{
	border: 2px solid grey;
	border-radius: 10px;
	height:30px; 
    width:100px; 
    
    left:50%;
    color: lightgrey;
    background-color: #111;
}
#buttonStart:hover{
	background-color: #333333;
	border: 3px solid white;
	cursor: pointer;
}
input{
	text-align: center;	
	height:30px; 
    width:250px; 
    border: 2px solid;
    border-radius: 10px;
}